In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from datetime import datetime
# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ipl-data-set/matches.csv
/kaggle/input/ipl-data-set/teamwise_home_and_away.csv
/kaggle/input/ipl-data-set/deliveries.csv
/kaggle/input/ipl-data-set/most_runs_average_strikerate.csv
/kaggle/input/ipl-data-set/teams.csv
/kaggle/input/ipl-data-set/Players.xlsx

In [2]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 3.7 MB/s
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.7
WARNING: Running pip as root will break packages and permissions. You should install packages reliably by using venv: https://pip.pypa.io/warnings/venv

In [3]:
base = '/kaggle/input/ipl-data-set/'
names = ['matches.csv','teamwise_home_and_away.csv','deliveries.csv','most_runs_average_strikerate.csv','teams.csv']
for i,name in enumerate(names):
    my_code = name[:-4]+'='+'pd.read_csv("'+base+name+'")'
    exec(my_code)

players = pd.read_excel(base+'Players.xlsx')

In [4]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
teamwise_home_and_away

,team,home_wins,away_wins,home_matches,away_matches,home_win_percentage,away_win_percentage
0,Rising Pune Supergiant,5,5,8,8,62.500000,62.500000
1,Mumbai Indians,58,51,101,86,57.425743,59.302326
2,Chennai Super Kings,51,49,89,75,57.303371,65.333333
3,Delhi Capitals,3,7,6,10,50.000000,70.000000
4,Sunrisers Hyderabad,30,28,63,45,47.619048,62.222222
5,Rajasthan Royals,29,46,67,80,43.283582,57.500000
6,Deccan Chargers,18,11,43,32,41.860465,34.375000
7,Kings XI Punjab,38,44,91,85,41.758242,51.764706
8,Royal Challengers Bangalore,35,49,85,95,41.176471,51.578947
9,Kolkata Knight Riders,34,58,83,95,40.963855,61.052632
10,Delhi Daredevils,25,42,72,89,34.722222,47.191011
11,Pune Warriors,6,6,20,26,30.000000,23.076923
12,Kochi Tuskers Kerala,2,4,7,7,28.571429,57.142857
13,Gujarat Lions,1,12,14,16,7.142857,75.000000

In [6]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [7]:
most_runs_average_strikerate.head()

     batsman  total_runs  out  numberofballs    average  strikerate
0    V Kohli        5426  152           4111  35.697368  131.987351
1   SK Raina        5386  160           3916  33.662500  137.538304
2  RG Sharma        4902  161           3742  30.447205  130.999466
3  DA Warner        4717  114           3292  41.377193  143.286756
4   S Dhawan        4601  137           3665  33.583942  125.538881

In [8]:
teams.head()

                   team1
0          Pune Warriors
1  Kolkata Knight Riders
2       Rajasthan Royals
3   Kochi Tuskers Kerala
4          Gujarat Lions

In [9]:
players.head()

      Player_Name        DOB Batting_Hand         Bowling_Skill Country
0  A Ashish Reddy 1991-02-24   Right_Hand      Right-arm medium   India
1      A Chandila 1983-12-05   Right_Hand    Right-arm offbreak   India
2        A Chopra 1977-09-19   Right_Hand    Right-arm offbreak   India
3     A Choudhary        NaT   Right_hand  Left-arm fast-medium     NaN
4     A Dananjaya        NaT   Right_Hand    Right-arm offbreak     NaN

# Let's start cleaning

##  Matches

In [10]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

## Columns has null values are:
* city
* winner
* player_of_match
* umpire 1
* umpire 2
* umpire 3

### Let's look into the city column first

In [11]:
matches[matches['city'].isnull()]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
461,462,IPL-2014,NaN,19-04-2014,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,7,PA Patel,Dubai International Cricket Stadium,Aleem Dar,AK Chaudhary,NaN
462,463,IPL-2014,NaN,19-04-2014,Kolkata Knight Riders,Delhi Daredevils,Kolkata Knight Riders,bat,normal,0,Delhi Daredevils,0,4,JP Duminy,Dubai International Cricket Stadium,Aleem Dar,VA Kulkarni,NaN
466,467,IPL-2014,NaN,23-04-2014,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,normal,0,Chennai Super Kings,7,0,RA Jadeja,Dubai International Cricket Stadium,HDPK Dharmasena,RK Illingworth,NaN
468,469,IPL-2014,NaN,25-04-2014,Sunrisers Hyderabad,Delhi Daredevils,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,4,0,AJ Finch,Dubai International Cricket Stadium,M Erasmus,S Ravi,NaN
469,470,IPL-2014,NaN,25-04-2014,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Chennai Super Kings,0,7,MM Sharma,Dubai International Cricket Stadium,BF Bowden,M Erasmus,NaN
474,475,IPL-2014,NaN,28-04-2014,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,5,Sandeep Sharma,Dubai International Cricket Stadium,BF Bowden,S Ravi,NaN
476,477,IPL-2014,NaN,30-04-2014,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,field,normal,0,Sunrisers Hyderabad,15,0,B Kumar,Dubai International Cricket Stadium,HDPK Dharmasena,M Erasmus,NaN

In [12]:
matches[matches['venue'] == 'Dubai International Cricket Stadium']['city'].unique()

array([nan], dtype=object)

## Season IPL-2014 has 7 missing values which we can see the venue of them is 'Dubai International Cricket Stadium' which is in Dubai city

## Let's now look into the winners column

In [13]:
matches[matches['winner'].isnull()]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,IPL-2011,Delhi,21-05-2011,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,IPL-2015,Bangalore,29-04-2015,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,IPL-2015,Bangalore,17-05-2015,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,no result,0,NaN,0,0,NaN,M Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,IPL-2019,Bengaluru,30-04-2019,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

### This column nulls has no values in player_of_match and the winner and the results column has no results, so we will simply replace the winner nulls with no_winner and the player of match with no_player

# Finally let's see the umpire columns

In [14]:
matches[matches['umpire1'].isnull()]

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
753,11413,IPL-2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN

## we will just replace them with no_umpire

## Now let's apply the nulls cleaning

In [15]:
matches_cleaned = matches.copy()
matches_cleaned['city'] = matches_cleaned['city'].fillna('Dubai')
matches_cleaned = matches_cleaned.fillna('none')
matches_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   Season           756 non-null    object
 2   city             756 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           756 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  756 non-null    object
 14  venue            756 non-null    object
 15  umpire1          756 non-null    object
 16  umpire2          756 non-null    object
 17  umpire3          756 non-null    object
dtypes: int64(4), object(14)
memory usage: 106.4+ KB

In [16]:
matches_cleaned.duplicated().sum()

0

## Now let's see if the values are reasonable in the matches dataframe

In [17]:
sorted(matches['win_by_wickets'].unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
matches_cleaned['date'] = pd.to_datetime(matches_cleaned['date'])
matches_cleaned[matches_cleaned['date'].dt.year!=matches_cleaned['Season'].str[-4:].astype(int)]

Empty DataFrame
Columns: [id, Season, city, date, team1, team2, toss_winner, toss_decision, result, dl_applied, winner, win_by_runs, win_by_wickets, player_of_match, venue, umpire1, umpire2, umpire3]
Index: []

### 1- the number of wackets is between 0 and 10 
### 2- the season year matches the date

## Let's start working on the other dataframes

In [19]:
print(teamwise_home_and_away.duplicated().sum())
teamwise_home_and_away.info()

0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 14 non-null     object
 1   home_wins            14 non-null     int64
 2   away_wins            14 non-null     int64
 3   home_matches         14 non-null     int64
 4   away_matches         14 non-null     int64
 5   home_win_percentage  14 non-null     float64
 6   away_win_percentage  14 non-null     float64
dtypes: float64(2), int64(4), object(1)
memory usage: 912.0+ bytes

# Let's insure that the number of wins per team is equivilant to the number of wins for the same team in the matches data frame

In [20]:
matches_teams = matches['team1']
matches_teams.append(matches['team2'])
matches_teams = list(set(matches_teams))
print(len(matches_teams))
matches_teams

15

['Kochi Tuskers Kerala',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Deccan Chargers',
 'Kings XI Punjab',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Delhi Capitals',
 'Mumbai Indians',
 'Rising Pune Supergiant',
 'Sunrisers Hyderabad',
 'Royal Challengers Bangalore',
 'Rajasthan Royals',
 'Pune Warriors',
 'Chennai Super Kings']

In [21]:
set(matches_teams) - set(teamwise_home_and_away['team'])

{'Rising Pune Supergiants'}

### There is 1 team that has no records in the teamwise_home_and_away df which is Rising Pune Supergiants, but other teams are there
#### Let's check consistency in winning times between the two dataframes

In [22]:
for index,row in teamwise_home_and_away.iterrows():
#     print(row)
    team = row[0]
    wins1 = row[1] + row[2]
    wins2 = len(matches_cleaned[matches_cleaned['team1']==team][matches_cleaned['winner']==team].index)
    wins2+= len(matches_cleaned[matches_cleaned['team2']==team][matches_cleaned['winner']==team].index)
    print('team {} has {} consistency'.format(team,wins1==wins2))

team Rising Pune Supergiant has True consistency
team Mumbai Indians has True consistency
team Chennai Super Kings has True consistency
team Delhi Capitals has True consistency
team Sunrisers Hyderabad has True consistency
team Rajasthan Royals has True consistency
team Deccan Chargers has True consistency
team Kings XI Punjab has True consistency
team Royal Challengers Bangalore has True consistency
team Kolkata Knight Riders has True consistency
team Delhi Daredevils has True consistency
team Pune Warriors has True consistency
team Kochi Tuskers Kerala has True consistency
team Gujarat Lions has True consistency

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

### so they are all consistent
# Let's now head to the players dataframe

In [23]:
players.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Player_Name    566 non-null    object
 1   DOB            471 non-null    datetime64[ns]
 2   Batting_Hand   563 non-null    object
 3   Bowling_Skill  502 non-null    object
 4   Country        471 non-null    object
dtypes: datetime64[ns](1), object(4)
memory usage: 22.2+ KB

In [24]:
players[players['DOB'].isnull()]

           Player_Name DOB Batting_Hand           Bowling_Skill Country
3          A Choudhary NaT   Right_hand    Left-arm fast-medium     NaN
4          A Dananjaya NaT   Right_Hand      Right-arm offbreak     NaN
6              A Hales NaT   Right_hand                     NaN     NaN
7             A Joseph NaT   Right_Hand          Right-arm fast     NaN
14               A Roy NaT    Left_Hand  Slow left-arm orthodox     NaN
..                 ...  ..          ...                     ...     ...
520       Tejas Baroka NaT          NaN         Legbreak googly     NaN
528           TS Mills NaT   Right_hand           Left-arm fast     NaN
535     V Chakravarthy NaT   Right_Hand                Legbreak     NaN
541       Vishnu Vinod NaT   Right_hand                     NaN     NaN
550  Washington Sundar NaT    Left_Hand      Right-arm offbreak     NaN

[95 rows x 5 columns]

In [25]:
players[players['Bowling_Skill'].isnull()]

      Player_Name        DOB Batting_Hand Bowling_Skill  Country
6         A Hales        NaT   Right_hand           NaN      NaN
17       A Turner        NaT   Right_Hand           NaN      NaN
41    AG Paunikar 1988-04-18   Right_Hand           NaN    India
57        AP Tare 1987-11-07   Right_Hand           NaN    India
58       AR Bawne        NaT   Right_Hand           NaN      NaN
..            ...        ...          ...           ...      ...
507   SW Billings 1991-06-15   Right_Hand           NaN  England
529        U Kaul 1987-12-02    Left_Hand           NaN    India
541  Vishnu Vinod        NaT   Right_hand           NaN      NaN
552       WP Saha 1984-10-24   Right_Hand           NaN    India
564   YV Takawale 1984-11-05   Right_Hand           NaN    India

[64 rows x 5 columns]

In [26]:
players[players['Batting_Hand'].isnull()]

      Player_Name DOB Batting_Hand     Bowling_Skill Country
197        J Dala NaT          NaN  Right-arm Medium     NaN
440      S Midhun NaT          NaN          Legbreak     NaN
520  Tejas Baroka NaT          NaN   Legbreak googly     NaN

### Players with no country has no DOB too 
### 64 players have no bowling skills attached too
### players with nan Batting hand has Bowling skill and vice versa, so we can still get a value from these records

In [27]:
players_cleaned = players.copy()
players_cleaned['DOB'] = players_cleaned['DOB'].fillna(datetime(2020, 1, 1))
players_cleaned = players_cleaned.fillna('none')

## Teams data frame

In [28]:
teams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   team1   15 non-null     object
dtypes: object(1)
memory usage: 248.0+ bytes

In [29]:
set(teams['team1'].unique()) == set(matches_teams)

True

# deliveries

In [30]:
deliveries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

## Looks like there are 3 columns with problems:
> 1. player_dismissed
> 2. dismissal_kind
> 3. fielder

## Dismissing doesn't happen very often that's probably why we have  player_dismissed and dismissal_kind columns with a lot of nulls
## The fielder is not mentioned in most of the games, so we will just fill these columns with a none value

In [31]:
deliveries.dismissal_kind.unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [32]:
deliveries_cleaned = deliveries.fillna('none')

In [33]:
deliveries_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  179078 non-null  object
 19  dismissal_kind    179078 non-null  object
 20  fielder           179078 non-null  object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [34]:
deliveries_cleaned.duplicated().sum()

23

## We have a 23 dublicated rows

In [35]:
deliveries_cleaned = deliveries_cleaned.drop_duplicates()

In [36]:
deliveries_cleaned.duplicated().sum()

0

In [37]:
most_runs_average_strikerate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   batsman        516 non-null    object
 1   total_runs     516 non-null    int64
 2   out            516 non-null    int64
 3   numberofballs  516 non-null    int64
 4   average        482 non-null    float64
 5   strikerate     516 non-null    float64
dtypes: float64(2), int64(3), object(1)
memory usage: 24.3+ KB

In [38]:
most_runs_average_strikerate[most_runs_average_strikerate['average'].isnull()].head()

           batsman  total_runs  out  numberofballs  average  strikerate
359         H Brar          20    0             12      NaN  166.666667
366         P Sahu          19    0             13      NaN  146.153846
386       A Joseph          15    0             13      NaN  115.384615
398  DAJ Bracewell          12    0              9      NaN  133.333333
400       AR Bawne          12    0             12      NaN  100.000000

## Let's figure out what's the average column represents

In [39]:
most_runs_average_strikerate

            batsman  total_runs  out  numberofballs    average  strikerate
0           V Kohli        5426  152           4111  35.697368  131.987351
1          SK Raina        5386  160           3916  33.662500  137.538304
2         RG Sharma        4902  161           3742  30.447205  130.999466
3         DA Warner        4717  114           3292  41.377193  143.286756
4          S Dhawan        4601  137           3665  33.583942  125.538881
..              ...         ...  ...            ...        ...         ...
511        ND Doshi           0    1             13   0.000000    0.000000
512         J Denly           0    1              1   0.000000    0.000000
513         S Ladda           0    2              9   0.000000    0.000000
514  V Pratap Singh           0    1              1   0.000000    0.000000
515       S Kaushik           0    1              1   0.000000    0.000000

[516 rows x 6 columns]

## We can see when total_runs = 0 average is 0 and when out is 0 then average is NAN this suggests average = total_runs/out

### For the nan values we will just set them to -1 indicating no outs

In [40]:
most_runs_average_strikerate_cleaned = most_runs_average_strikerate.fillna(-1)

## Let's save our cleaned data

In [41]:
for dirname, _, filenames in os.walk('/kaggle/'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/src/script.ipynb
/kaggle/lib/kaggle/gcp.py
/kaggle/input/ipl-data-set/matches.csv
/kaggle/input/ipl-data-set/teamwise_home_and_away.csv
/kaggle/input/ipl-data-set/deliveries.csv
/kaggle/input/ipl-data-set/most_runs_average_strikerate.csv
/kaggle/input/ipl-data-set/teams.csv
/kaggle/input/ipl-data-set/Players.xlsx
/kaggle/working/__notebook__.ipynb

In [42]:
out_base = "/kaggle/working/cleaned_out"
mode = 0o666
if not os.path.exists(out_base):
    os.mkdir(out_base,mode)

In [43]:
deliveries_cleaned.to_pickle(out_base+"/deliveries.pkl")
players_cleaned.to_pickle(out_base+"/players.pkl")
teams.to_pickle(out_base+"/teams.pkl")
matches_cleaned.to_pickle(out_base+"/matches.pkl")
teamwise_home_and_away.to_pickle(out_base+"/teamwise_home_and_away.pkl")
most_runs_average_strikerate.to_pickle(out_base+"/most_runs_average_strikerate.pkl")